<!doctype html>
<html lang="en">

<head>
  {include file="public/head_title" /}
</head>

<body>
  <!-- 顶部开始 -->
  <div class="container">
    {include file="public/head" /}
  </div>
  <!-- 顶部结束 -->
  <!-- 中部开始 -->
  <div class="wrapper">
    <!-- 左侧菜单开始 -->
    {include file="public/menu" /}
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
      <div class="content">
        <fieldset class="layui-elem-field layui-field-title site-title">
          <legend><a name="default">报名信息管理</a></legend>
        </fieldset>

      </div>
    </div>
    <!-- 右侧主体结束 -->
  </div>
  <!-- 中部结束 -->
  <!-- 底部开始 -->
  <div class="footer">
    <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved. 本后台系统由X前端框架提供前端技术支持</div>
  </div>
  <!-- 底部结束 -->
  <!-- 背景切换开始 -->
  {include file="public/bottom" /}
  <!-- 背景切换结束 -->
</body>

</html>