<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li class="list" current>
                <a href="../main/index.html">
                    <i class="iconfont">&#xe761;</i>
                    欢迎页面
                </a>
            </li>
            {volist name="nodes" id="vo"}
            <li class="list">
                <!--<a href="../dormmanage/index.html">-->
                <a href="../{$vo.url}">
                    <!--<a href="{$vo.url}">-->
                    <i class="iconfont">&#xe70b;</i>
                    {$vo.name}
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
            </li>
            {/volist}
        </ul>
    </div>
</div>